*{
  padding: 0;
  margin: 0;
}

body{
  min-height: 100%;
  background: whitesmoke;
  position: relative;
  font-family: "Lato", sans-serif;
  line-height: 1.8;
  font-style: normal;
  font-weight: 400;
  color: #555555;
}

.top-visual{
  height: 70vh;
  background: gray;
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('https://lh3.googleusercontent.com/kZIwK_xvI0RVMWuQN6nlzjwXLlqBKEC7pfvVtFkpx4Cni5yPfGJl1oKhLLl2gxhIRkEozwnY3NiK_MQ0ftOMd8fTSZy4eVrYQZc5h0fhxAToL5OkVGLFU5mmYaKE1R-895cSWKj6xBKnGDF96ZuIIQz6CbVZAmfi0zhv1t2bL_fYVXzeM2_9P18FtOO5seZVzpgHoc7il1LXIyC6K3KhJORiQz8XKrYOlJ7CWvY7GPvy_vKneW5p8GeeOzzGcQxAvWXqLQs6YvAcShxN9MQaY7MpsKRtLXPVqRlEuSOMm9EiXIJau4qZ448D7-f6FtJDEJczHVvy1nAMOGy0g_MFFUw-kfjIXAZKbklZacKfm_1YJBCGefQsRVZ_qbAKnoj38oVXrtXmsz7YbZ-PvUWOEgNPKd-rCbx_gdAEn28oOO7KoWJxJ9OoZazqkwnPZzBmgUS3sqhkeOH209BcD5jwJLhuzKBDWLvM6QH8-cGRv3T8_0O8eb73Zse84GOOsMVQskFYLf1Ji7cDUGbD2VTIAq_9KggSHAVlLA7HOut4U10fpu3qoC8WLhdQ5W2_Pxbhje3hZKZBVg8F8hy17-UeQclVZdDMPsDmWEAsgYGRdQ=w3840-h2162-no');
  background-size: cover;
}

nav{
  position: fixed;
  width: 100%;
  height: 110px;
  z-index: 10;
}

nav.opaque{
  background-color: rgba(250,250,250,0.90);
}

nav.opaque .across-menu li a{
  color: #12364A;
}

.across-image{
  position: absolute;
  left: 15px;
  top: 15px;
  max-height: 80px;
}

.across-menu{
  position: absolute;
  right: 30px;
  max-width: 400px;
  display: flex;
  justify-content: space-between;

  list-style-type: none;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.across-menu li a{
  line-height: 110px;
  padding: 20px;
  color: whitesmoke;
  font-size: 14px;
  text-decoration: none;
  opacity: 0.9;
}
.across-menu li a:hover{
  opacity: 1;
}

.content div{
  padding: 20px;
  max-width: 800px;
  margin: auto;
  overflow: hidden;

}

.content:first-child{
  padding: 50px 30px;
}

.content {
  position: relative;
  min-height: 1000px;
  padding: 20px;
}

.background-image{
  opacity: 0.15;
  content: "";
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
}

#image1{
  background-image: url(images/flowers-01.png);
  background-position: 30px 30px;
}

#image2{
  background-image: url(images/flowers-02.png);
  background-position: 190px 230px;
}

#image3{
  background-image: url(images/flowers-03.png);
  background-position: 200px 530px;
  /*background-color: pink;*/
}

#image4{
  background-image: url(images/flowers-04.png);
  background-position: 530px 630px;
  /*background-color: purple;*/
}

#image5{
  background-image: url(images/flowers-05.png);
  background-position: 330px 730px;
  /*background-color: orange;*/
}

#image6{
  background-image: url(images/flowers-06.png);
  background-position: 430px 130px;
}

#image7{
  background-image: url(images/flowers-07.png);
  background-position: 330px 170px;
  /*background-color: green;*/
}

#image8{
  background-image: url(images/flowers-08.png);
  background-position: 530px 230px;
  /*background-color: silver;*/
}

#image9{
  background-image: url(images/flowers-09.png);
  background-position: 350px 430px;
  /*background-color: pink;*/
}


h1,h2,h3,h4,h5{
  color: #0a0a0a;
}

h1{
  margin-top: 30px;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 100;
}

.fancy {
  line-height: 0.1;
  text-align: center;
}
.fancy span {
  display: inline-block;
  position: relative;
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  background: #bbb;
  height: 1px;
  top: 0;
  width: 300%;
  overflow: hidden;
}
.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy span:after {
  left: 100%;
  margin-left: 15px;
}

form{
  display: inline-block;
  margin: auto;
}

form input,
form label
{
  display: block;
}

form label{
  font-weight: bold;
}

form input{
  margin-bottom: 10px;
  font-size: 17px;
  padding: 4px;
}

.gallery-photo-wrapper{
  text-align: center;
}

.gallery-photo-wrapper img{
  margin: 10px auto;
  border: 1px solid #c1c0c0;
}

div.footer{
  padding: 45px 0;
  text-align: center;
  background-color: #12364A;
  color: whitesmoke;
  font-weight: 400;
  margin-top: 25px;
}

a.anchor {
  display: block;
  position: relative;
  top: -110px;
  visibility: hidden;
}

@media (max-width: 630px) {
  .across-image{
    left: 7px;
    top: 7px;
    max-height: 50px;
  }

  .across-menu{
    right: 10px;
    max-width: 250px;
    letter-spacing: 1px;
  }

  nav{
    height: 66px;
  }

  .across-menu li a{
    padding: 5px;
    line-height: 66px;
  }

}
